@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Me:</h2>

<p>I am Brian Gorishek, a fourth year student at the University of Oklahoma.</p>
<p>I am currently majoring in Accounting and Management Information Systems, and have been accepted into the OU BBA/MAcc program. I expect to receive my Bachelors degrees in May of 2022, and graduate with my Masters of Accounting in May of 2023.</p>
<p>You can find my LinkedIn account here: <a target="_blank" href="https://www.linkedin.com/in/brian-gorishek-555295196/">LinkedIn</a></p>
<p>Some of my hobbies and interests include hiking, hunting, fishing, golfing, watching sports, playing video games, and cars.</p>
