@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>Home Address</h4>
<address>
    5767 S Flanders Ct.<br />
    Aurora, CO 80015<br />
    <abbr title="Phone">Home (Emergency):</abbr>
    (303) - 766 - 3642
</address>

<h4>Mailing Address (2021-2022)</h4>
<address>
    1300 Steamboat Way<br />
    Norman, OK 73069<br />
    <abbr title="Phone">Cell (Primary):</abbr>
    (303) - 818 - 0525
</address>

<address>
    <strong>Primary Email:</strong>   <a href="mailto:bgorishek@ou.edu">Bgorishek@ou.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:bgorishek648@gmail.com">Bgorishek648@gmail.com</a>
</address>