@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my personal website!</h1>
    <p class="lead">Here you can find information about me, some projects I have done, my skills sets, and how to contact me.</p>
</div>
