
@{
    ViewBag.Title = "Projects";
}

<h2>Projects:</h2>

<h4>Databases (MIS-3353):</h4>
<p>This project began and grew alongside the curriculum of the Databases course at OU. This project was completed in a tight-knit team that we were assigned to, and was graded over several milestones. We were to create a database for a fictional, growing fly fishing company given a set of business needs and rough functional specifications. The project began with conceptual design of the database using Entity Relationship Diagrams, followed by a meeting with the 'client' (our professor) to clarify any questions about the needs of the database. After refining the conceptual design, we moved on to the logical design of the database, creating a set of normalized relations to map out the specific entities and relations within our database. Then, we began the physical design and implementation of the database as well as the creation of a data dictionary for the system. This was done through Microsoft Access and was the most challenging faze of the project. It required close coordination and many man hours to complete, but provided great insight into the implementation of a real world database in a groupwork-based setting. Finally, we wrote SQL queries to retrieve specified information for the 'client', as well as for three additional functions as defined by the group. The findings of this project were summarized in a report and submitted near the end of the semester. My group received an A for this project.</p>
<a target="_blank" href="https://drive.google.com/file/d/13UahjrPW_QLt3qYRVImOqUrz8X3NbMOy/view?usp=sharing">View Project</a>

<h4>Intro to Programming (MIS-3013):</h4>
<p>These are a few of the projects I completed for the Introduction to Programming course at OU using Microsoft Visual Studio and C#. These projects corresponded to the curriculum of the course and represent the growth of my knowledge of C# through the class. These projects demonstrate my knowledge of flow control, string manipulation, collections, methods, and classes. Some of the projects use pre-defined data sets in the form of .csv files, while others utilize user input data to provide an output. I've included my midterm project, my final project, and a couple of homework assignments to demonstrate these skills. I received 100 percent for all of these submissions. I'm most proud of the 'Car Race Game' that I created for an extra credit assignment to showcase my cumulative knowledge of C#. It was a passion project that I created from scratch, including a rudimentary algorithm to determine the winner of a race using several pertinent factors decided by the player.</p>
<a target="_blank" href="https://github.com/bgorishek/C_Sharp_Projects.git">View Github</a>

<p>More to add...</p>