
@{
    ViewBag.Title = "Skill Sets";
}

<h2>Skill Sets:</h2>

<h4>Programming:</h4>
<ul>
    <li>SQL: Intermediate knowledge - JOIN statements, aggregate functions, subqueries</li>
    <li>Familiar with MS Access IDE, logical design, physical design, database implementation</li>
    <li>C#: Flow control, string manipulation, collections, methods, classes, .NET Core, WPF, JSON integration</li>
    <li>HTML: Basic knowledge - page content, structure, meta elements, some JavaScript</li>
</ul>

<h4>Accounting:</h4>
<ul>
    <li>Financial</li>
    <li>Managerial</li>
    <li>Cost</li>
    <li>Intermediate I & II</li>
    <li>Income Tax</li>
</ul>

<h4>MS Office Suite:</h4>
<ul>
    <li>Excel: Formulas, charting, pivot tables, MS Visual Basic</li>
    <li>PowerPoint: Substantial experience formulating and giving informational presentations</li>
    <li>Word: Document creation, formatting, editing/proofreading, template creation/editing</li>
</ul>

